


<header>
  <div id="menu-bar" class="fas fa-bars"></div>
  <a href="" class="logo" style="text-decoration: none;"><span>FUU</span>Ràma</a>
  <nav class="navbar">
    <a href="" style="text-decoration: none;">Trang Chủ</a>
    <div class="dropdown">
      <a href="#" style="text-decoration: none;">Dịch vụ</a>
      <div class="dropdown-content">
        <a href="#">Villa</a>
        <a href="#">Room</a>
        <a href="#">House</a>

      </div>
    </div>
    <div class="dropdown">
      <a href="#" style="text-decoration: none;">Contract</a>
      <div class="dropdown-content">

        <a  routerLink="/contract/list">Danh Sach Hop Dong</a>
      </div>
    </div>
    <div class="dropdown">
      <a href="#" style="text-decoration: none;">Employee</a>
      <div class="dropdown-content">
        <a href="#">???</a>

      </div>
    </div>

    <div class="dropdown">
      <a href="#" style="text-decoration: none;">ICustomer</a>
      <div class="dropdown-content">
        <a  routerLink="/customer/list" >Danh Sach Khach Hang</a>

      </div>
    </div>



  </nav>
  <div class="icons">
    <i class="fas fa-search" id="search-btn"></i>

    <div class="dropdown">
      <button class="dropbtn"><i class="fas fa-user" id="login-btn"></i></button>
      <div class="dropdown-content">

        <a href="#" target="_blank">?</a>

        <a href="#" target="_blank">???</a>
        <a href="#" target="_blank">????</a>
        <a href="#">Đăng Xuất</a>
      </div>
    </div>

    <a class="fas fa-plus" id="plus-btn" href="#"></a>

    <a href="#" class="login">Login</a>

  </div>
  <form action="#" class="search-bar-container">
    <input type="search" id="search-bar" placeholder="search here...">
    <label for="search-bar" class="fas fa-search"></label>
  </form>
</header>
<!-- header section ends -->





