<footer class="footer">
  <div class="box-container">
    <div class="box">
      <h3>Về Chúng Tôi</h3>
      <p> Lê Quốc Việt</p>
    </div>
    <div class="box">
      <h3>Chi Nhánh</h3>
      <a href="#">Ha Noi</a>
      <a href="#">Hai Phong</a>
      <a href="#">Da Nang</a>
      <a href="#">Ho Chi Minh</a>
    </div>
    <div class="box">
      <h3>Liên Kết</h3>
      <a href="#">Bảo Tàng Và Di Tích Lịch Sử</a>
      <a href="#">Đồ Ăn</a>
      <a href="#">Công Viên</a>
    </div>
    <div class="box">
      <h3>Theo Dõi Chúng Tôi tại: </h3>
      <a href="#">Facebook</a>
      <a href="#">Instagram</a>
      <a href="#">Twitter</a>
      <a href="#">Linkedin</a>
    </div>
  </div>
  <h1 class="credit"> created by <span> Le Quoc Ziet </span> | all rights reserved! </h1>
</footer>
