<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create student</title>
</head>
<body>
<h1>Create new Product</h1>
<a th:href="@{/product/list}">Back to list</a>
<form th:action="@{/product/create}" method="post" th:object="${product}">
    <table border="1">
<!--        <tr>-->
<!--            <td>ID</td>-->
<!--            <td><input type="text" th:field="*{id}"></td>-->
<!--        </tr>-->
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
<!--        <tr>-->
<!--            <td>Class Name</td>-->
<!--            <td>-->
<!--                <select th:field="*{className}">-->
<!--                    <option value=""></option>-->
<!--                    <option th:each="className : ${classNames}"-->
<!--                            th:value="${className}"-->
<!--                            th:text="${className}"-->
<!--                            th:selected="${className.equals(student.className)}" />-->
<!--                </select>-->
<!--            </td>-->
<!--        </tr>-->
        <tr>
            <td>Price</td>
            <td><input type="number" th:field="*{price}"></td>
        </tr>
        <tr>
            <td>ExpiryDate</td>
            <td><input type="date" th:field="*{expiryDate}"></td>
        </tr>

        <tr>
            <td>Country</td>
            <td><input type="text" th:field="*{country}"></td>
        </tr>
        <tr>
            <td>Status</td>
            <td>
                <input type="radio" th:field="*{status}" th:value="true" id="male" th:selected="*{status}"  >
                <label  for="male"> Sold on</label>

                <input type="radio" th:field="*{status}" th:value="false" id="female" th:selected="*{!status}" >
                <label  for="female"> Sold Out </label>
            </td>
        </tr>



        <tr>
            <td></td>
            <td>
                <input type="submit" class="" value="Register" />
                <input type="submit" value="Go Back" onclick="history.back()" />



            </td>
        </tr>
    </table>
</form>
</body>
</html>
