<div class="templatemo-content-container">

  <div class="templatemo-content-widget white-bg">
    <h2 class="margin-bottom-10 titleName">New Contract </h2>
    <form action="#" class="templatemo-login-form" method="post"
          class="templatemo-login-form" enctype="multipart/form-data">

      <div class="row form-group">
        <div class="col-lg-6  col-md-12 form-group">
          <label class="control-label" for="startDate">startDate<span class="text-danger">*</span></label>
          <input  name="customer_birthday" type="date" class="form-control" id="startDate"
                 placeholder="dd-MM-yyyy" min="1997-01-01" max="2030-12-31" required>
        </div>

        <div class="col-lg-6  col-md-12 form-group">
          <label class="control-label" for="endDate">endDate<span class="text-danger">*</span></label>
          <input  name="customer_birthday" type="date" class="form-control" id="endDate"
                  placeholder="dd-MM-yyyy" min="1997-01-01" max="2030-12-31" required>
        </div>
      </div>


      <div class="row form-group">
        <div class="col-lg-6  col-md-12 ">
          <label class="control-label" for="deposit">deposit <span class="text-danger">*</span></label>
          <input class="form-control" type="number" id="deposit" name="area"
                 rows="3">
        </div>

        <div class="col-lg-6  col-md-12 ">
          <label class="control-label" for="totalMoney">totalMoney <span class="text-danger">*</span></label>
          <input class="form-control" type="number" id="totalMoney" name="cost"
                 rows="3">
        </div>

      </div>



      <div class="row form-group">
        <div class="col-lg-4  col-md-12 ">
          <label class="control-label templatemo-block">employee</label>
          <select class="form-control" name="employee">
            <option>AA</option>
            <option>BB</option>
            <option>VV</option>
            <option>DD</option>
          </select>
        </div>



        <div class="col-lg-4  col-md-12 ">
          <label class="control-label templatemo-block">customer</label>
          <select class="form-control" name="customer">
            <option>AA</option>
            <option>BB</option>
            <option>VV</option>
            <option>DD</option>
          </select>
        </div>


        <div class="col-lg-4  col-md-12 ">
          <label class="control-label templatemo-block">service</label>
          <select class="form-control" name="service">
            <option>AA</option>
            <option>BB</option>
            <option>VV</option>
            <option>DD</option>
          </select>
        </div>
      </div>

<!--      <div class="row form-group">-->
<!--        <div class="col-lg-4  col-md-12 ">-->
<!--          <label class="control-label" for="area">area <span class="text-danger">*</span></label>-->
<!--          <input class="form-control" type="number" id="area" name="area"-->
<!--                 rows="3">-->
<!--        </div>-->

<!--        <div class="col-lg-4  col-md-12 ">-->
<!--          <label class="control-label" for="area">cost <span class="text-danger">*</span></label>-->
<!--          <input class="form-control" type="number" id="cost" name="cost"-->
<!--                 rows="3">-->
<!--        </div>-->

<!--        <div class="col-lg-4  col-md-12 ">-->
<!--          <label class="control-label" for="area">maxPeople <span class="text-danger">*</span></label>-->
<!--          <input class="form-control" type="number" id="maxPeople" name="maxPeople"-->
<!--                 rows="3">-->
<!--        </div>-->
<!--      </div>-->


      <!--      <div class="row form-group" >-->
      <!--        <div class="col-lg-12 form-group">-->
      <!--          <label class="control-label">Địa Chỉ <span class="text-danger">*</span>-->
      <!--          </label>-->
      <!--          <input type="text" re class="form-control" readonly name="location" id="location"-->
      <!--                 value="{{ old('location') }}">-->


      <!--          <fieldset class=" ">-->
      <!--            <legend> Tỉnh/ Thành phố, Quận/Huyện, Phường/Xã </legend>-->
      <!--            <div class="flex-container">-->
      <!--              <div class=" col-lg-4 ">-->
      <!--                <select class="form-control local" name="tinhThanh" id="tinhThanh">-->
      <!--                  <option value="0" selected="selected">&#45;&#45; Tỉnh/ Thành Phố &#45;&#45;</option>-->
      <!--                </select>-->
      <!--              </div>-->
      <!--              <div class=" col-lg-4 ">-->
      <!--                <select class="form-control local" name="quanHuyen" id="quanHuyen">-->
      <!--                  <option value="0" selected="selected">&#45;&#45; Quận/Huyện &#45;&#45;</option>-->
      <!--                </select>-->
      <!--              </div>-->

      <!--              <div class=" col-lg-4 ">-->
      <!--                <select class="form-control local" name="xaPhuong" id="xaPhuong">-->
      <!--                  <option value="0" selected="selected">&#45;&#45;Phường/Xã&#45;&#45;</option>-->
      <!--                </select>-->
      <!--              </div>-->
      <!--            </div>-->
      <!--            <legend style="margin-top: 2px"  > Địa chỉ chi tiết </legend>-->
      <!--            <input type="text" class="form-control" name="detailLocation" id="detailLocation" readonly>-->


      <!--          </fieldset>-->

      <!--        </div>-->
      <!--      </div>-->



<!--      <div class="row form-group">-->
<!--        <div class="col-lg-6 col-md-12 ">-->
<!--          <label class="control-label" for="poolArea">poolArea</label>-->
<!--          <input type="number" class="form-control" name="poolArea" id="poolArea"-->
<!--                 value="#" min=0>-->
<!--        </div>-->


<!--        <div class="col-lg-6 col-md-12 ">-->
<!--          <label class="control-label" for="poolArea">numberFloats</label>-->
<!--          <input type="number" class="form-control" name="numberFloats" id="numberFloats"-->
<!--                 value="#" min=0>-->
<!--        </div>-->
<!--      </div>-->


<!--      <div class="row form-group">-->
<!--        <div class="col-lg-12 ">-->
<!--          <label class="control-label" for="standardRoom">standardRoom <span class="text-danger">*</span></label>-->
<!--          <input type="text" class="form-control" name="standardRoom" id="standardRoom" >-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="row form-group">-->
<!--        <div class="col-lg-12 ">-->
<!--          <label class="control-label" for="employeeEmail">employeeEmail</label>-->
<!--          <input type="email" class="form-control" name="employeeEmail" id="employeeEmail"-->
<!--                 min=0>-->
<!--        </div>-->
<!--      </div>-->




      <div class="form-group text-right">
        <button type="submit" class="templatemo-blue-button">Them</button>
      </div>


    </form>
  </div>

</div>
